/* everyone put their buttons/other clickable things here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

a:hover,
button:hover,
select:hover {
	cursor: pointer;
}

/* Header Start */

header {
	margin-left: 5%;
	margin-right: 5%;
	height: 135px;
	background-color: black;
	border-bottom: 3px solid deepskyblue;
	position: relative;
	padding-top: 2px;
}

header:hover {
	border-bottom: 3px solid deeppink;
}

#banner {
	padding-top: 5px;
	margin-left: 5%;
	margin-right: 5%;
	color: deeppink;
	background-color: black;
	font-size: 15px;
	text-align: center;
}

#page-title {
	font-size: 24px;
	width: 125px;
	height: 125px;
	text-align: center;
	color: deepskyblue;
	border: 2px solid deepskyblue;
	border-radius: 100%;
}

/* Header End */
#mode {
	width: 22px;
	height: 22px;
	position: absolute;
	bottom: 55px;
	right: 0px;
}
.material-icons {
	font-size: 32px;
	transform: rotate(180deg);
	cursor: pointer;
}
.material-icons:hover {
	color: deeppink;
}

#NavBar {
	position: absolute;
	left: 17%;
	bottom: 5px;
}
ul {
	list-style-type: none;
}
.nav-li {
	float: left;
	padding: 50px;
	text-align: center;
	font-size: 18px;
}
.nav-li:hover {
	font-style: italic;
	color: deeppink;
	cursor: pointer;
}
#thanos {
	color: black;
}

#search {
	position: absolute;
	right: 5px;
	bottom: 10px;
	border: transparent
}
#form {
	border-bottom: 2px solid white;
}
#input {
	background-color: transparent;
	color: white;
	border: transparent;
	font-style: italic;
}
#input:hover {
	color:deeppink;
}
#form:hover {
	border-bottom: 2px solid deeppink;
}
#thanos:hover {
	color: deeppink;
}


body {
	padding-left: 2px;
	padding-right: 2px;
	background-color: black;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.light-mode {
  background-color: white;
  color: black;
}
.light-mode header {
	background-color: white;
}
.light-mode footer {
	background-color: white;
}
.light-mode #form {
	border-bottom: 2px solid black;
}
.light-mode #input {
	background-color: transparent;
	color: black;
	border: transparent;
}
.light-mode footer {
	color: black;
}
.light-mode #thanos {
	color: white;
}
.light-mode #thanos:hover {
	color:deeppink
}
.light-mode .zquestions {
	background-color: white;
}
.light-mode .card {
	background: whitesmoke;
}
.light-mode #banner {
	background-color: white;
}


/*Related Items and Fit Start*/

#carousel-item {
	padding-left: 75px;
}

.carousel-img {
	max-height: 200px;
	max-width: 260px;
	height: 200px;
	width: auto;
}

.card {
	width: 16rem;
	cursor: pointer;
	margin-bottom: 30px;
	background: rgb(29, 18, 47);
}

.card:hover {
	box-shadow: 15px 15px 20px indigo;
}

#related-items {
	height: 430px;
	margin-left: 20%;
	margin-right: 20%;
}

#related-title {
	border-bottom: 2px solid deepskyblue;
}

#fav-button {
	color: deepskyblue;
	background-color: transparent;
	float: right;
	position: absolute;
	font-size: 30px;
	border: none;
	right: 0px
}

#fav-button:hover {
	color: deeppink;
}

#your-fit {
	height: 450px;
	margin-left: 20%;
	margin-right: 20%;
}

#yourfit-title {
	border-bottom: 2px solid deeppink;
}

#add-button {
	margin-left: 222px;
	width: 32px;
	position: absolute;
	background-color: transparent;
	color: deeppink;
	border: 3px solid deeppink;
	border-radius: 10%;
}

#add-button:hover {
	color: deepskyblue;
	border: 3px solid deepskyblue;
}

.modal {
	color: white;
	font-family: 'Poppins', sans-serif;
}
.modal-backdrop {
	background-color: darkslateblue;
}
.modal .modal-content {
	background-color: black;
}

#to-be-empty {
	color: transparent;
}
/* RelatedItems and Fit End*/

/* Ratings CSS Start */

#RatingsAndReviews {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 0px 0px;
	grid-template-areas:
		'sidebar mainReviews'
		'. reviewButtons';
	margin: 15px 0;
	border: 1px solid black;
	padding: 15px;
}

.sidebar {
	grid-area: sidebar;
	gap: 20px 20px;
	height: 800px;
	margin: 0 20px;
}

.overallRating {
	font-size: 65px;
	padding: 10px;
	font-weight: bold;
}

.mainReviews {
	grid-area: mainReviews;
	padding-left: 20px;
	padding-right: 20px;
	height: 800px;
	overflow: auto;
}

.reviewButtons {
	grid-area: reviewButtons;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding-right: 10px;
	padding-top: 20px;
}

.topReview {
	display: flex;
	justify-content: space-between;
}
.reviewCard {
	position: relative;
	height: auto;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
}

.sort {
	border-bottom: 1px solid white;
	font-size: 20px;
}



.star-list {
	padding-left: 18%;
}

.sortSelect {
	font-style: bold;
	border: none;
	color: white;
	text-decoration: underline;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.helpfulAndReport {
	padding-bottom: 25px;
}

.response {
	padding: 20px;
	background-color: grey;
}

footer {
	border-top: 2px solid deepskyblue;
	margin-left: 5%;
	margin-right: 5%;
	height: 165px;
	color: white;
	background-color: black;
	text-align: center;
}

.sizeSlider {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding-bottom: 10px;
}

.modalImg {
	width: 150px;
	height: 100px;
	padding: 5px;
}

.modalReview {
	display: flex;
}

.ReviewBTN {
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.progress-bar {
	background-color: deeppink;
}

.tAddStar {
	cursor: pointer;
	transition: color 200ms;
}

.characteristicsForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.RatingSummary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.characteristics {
	padding: 0px 5px 0px 5px;
	margin-top: 5px;
}
/* Ratings CSS End */

/* Footer */
footer {
	margin-top: 5px;
  border-top: 2px solid deepskyblue;
  margin-left: 5%;
  margin-right: 5%;
  height: 165px;
  color: white;
  background-color: black;
  text-align: center;
}

.zquestions {
	overflow-y: scroll;
	height: 650px;
	transition: background-color 1.5s ease;
	background-color: black;
	border: 2px solid deepskyblue;
	border-radius: 20px;
}

.zquestions:hover {
	background-color: rgb(29, 18, 47);
}

.loading {
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
