/* everyone put their buttons/other clickable things here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

a:hover,
button:hover,
select:hover {
	cursor: pointer;
}

header {
	margin-left: 5%;
	margin-right: 5%;
	height: 135px;
	background-color: black;
	border-bottom: 3px solid deepskyblue;
}

header:hover {
	border-bottom: 3px solid deeppink;
}

#page-title {
	font-size: 24px;
	width: 125px;
	height: 125px;
	text-align: center;
	color: deepskyblue;
	border: 2px solid deepskyblue;
	border-radius: 100%;
}

body {
	padding-left: 2px;
	padding-right: 2px;
	background-color: black;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#carousel-item {
	padding-left: 75px;
}

.carousel-img {
	max-height: 200px;
	max-width: 260px;
	height: 200px;
	width: auto;
}

#related-items {
	height: 400px;
	margin-left: 17%;
	margin-right: 17%;
}

#related-title {
	border-bottom: 1px solid white;
}

#fav-button {
	color: deepskyblue;
	background-color: transparent;
	float: right;
	position: absolute;
	font-size: 30px;
	border: none;
}

#fav-button:hover {
	color: deeppink;
}

#your-fit {
	height: 400px;
	margin-left: 17%;
	margin-right: 17%;
}

#yourfit-title {
	border-bottom: 1px solid white;
}

footer {
	margin-left: 12%;
	margin-right: 12%;
	height: 160px;
	color: lightcyan;
	background-color: black;
	text-align: center;
}

/* Ratings CSS Start */

#RatingsAndReviews {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 0px 0px;
	grid-template-areas:
		'sidebar mainReviews'
		'. reviewButtons';
	margin: 15px 0;
	border: 1px solid black;
	padding: 15px;
}

.sidebar {
	grid-area: sidebar;
	gap: 20px 20px;
	height: 800px;
	margin: 0 20px;
}

.overallRating {
	font-size: 65px;
	padding: 10px;
	font-weight: bold;
}

.mainReviews {
	grid-area: mainReviews;
	padding-left: 20px;
	padding-right: 20px;
	height: 700px;
	overflow: auto;
}

.reviewButtons {
	grid-area: reviewButtons;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding-right: 10px;
	padding-top: 20px;
}

.topReview {
	display: flex;
	justify-content: space-between;
}
.reviewCard {
	position: relative;
	height: auto;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
}

.sort {
	border-bottom: 1px solid white;
	font-size: 20px;
}

#related-items {
	height: 420px;
	margin-left: 10%;
	margin-right: 10%;
}

#related-title {
	border-bottom: 2px solid deepskyblue;
}

.star-list {
	padding-left: 18%;
}
.sortSelect {
	font-style: bold;
	border: none;
	color: white;
	text-decoration: underline;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.helpfulAndReport {
	padding-bottom: 25px;
}

.response {
	padding: 20px;
	background-color: grey;
}

#your-fit {
	height: 420px;
	margin-left: 10%;
	margin-right: 10%;
}

#yourfit-title {
	border-bottom: 2px solid deeppink;
}

footer {
	border-top: 2px solid deepskyblue;
	margin-left: 5%;
	margin-right: 5%;
	height: 165px;
	color: white;
	background-color: black;
	text-align: center;
}

.sizeSlider {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding-bottom: 10px;
}

.modalImg {
	width: 150px;
	height: 100px;
	padding: 5px;
}

.modalReview {
	display: flex;
}

.ReviewBTN {
	background-color: black;
	border: 1px solid white;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.progress-bar {
	background-color: deeppink;
}

.RatingSummary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.characteristics {
	padding: 0px 5px 0px 5px;
	margin-top: 5px;
}
/* Ratings CSS End */

.zquestions {
	overflow-y: scroll;
	height: 650px;
	transition: background-color 1.5s ease;
	background-color: black;
	border: 2px solid deepskyblue;
	border-radius: 20px;
}

.zquestions:hover {
	background-color: rgb(29, 18, 47);
}

.loading {
	padding-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
