header {
	margin-left: 12%;
	margin-right: 12%;
	height: 120px;
	background-color: black;
	color: lightcyan;
	font-size: 36px;
	text-align: center;
}

#RatingsAndReviews {
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 0px 0px;
	grid-template-areas: 'sidebar mainReviews';
	margin: 15px 0;
	border: 1px solid black;
	padding: 15px;
}

.sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	height: 600px;
	grid-template-areas:
		'RatingSummary'
		'RatingBreakdown'
		'ProductBreakdown';
	margin: 0 20px;
}

.RatingSummary {
	grid-area: RatingSummary;
	height: 100px;
}

.RatingBreakdown {
	grid-area: RatingBreakdown;
	height: 200px;
}

.ProductBreakdown {
	grid-area: ProductBreakdown;
	height: 200px;
}

.overallRating {
	font-size: 65px;
	padding: 10px;
	font-weight: bold;
}

.mainReviews {
	grid-area: mainReviews;
	padding-left: 20px;
	padding-right: 20px;
	height: 600px;
	width: 850px;
	overflow: auto;
}

.reviewButtons {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 20px;
	padding-right: 10px;
	padding-top: 20px;
}

.reviewCard {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1.8fr;
	gap: 20px 20px;
	height: 250px;
	grid-template-areas:
		'stars . date'
		'ReviewText ReviewText ReviewText';
	border: 2px solid black;
	border-width: 0px 0px 2px 0px;
	margin-bottom: 20px;
	overflow: hidden;
}

.stars {
	grid-area: stars;
}
.ReviewText {
	grid-area: ReviewText;
}
.date {
	grid-area: date;
}

/* everyone put their buttons/other clickable things here */
.styleSelector:hover, a:hover, button:hover, select:hover, .imageGalleryList:hover {
  cursor: pointer;
}

#carousel-item {
	padding-left: 75px;
}

#related-items {
	margin-left: 17%;
	margin-right: 17%;
}

#your-fit {
	margin-left: 17%;
	margin-right: 17%;
}

footer {
	margin-left: 12%;
	margin-right: 12%;
	height: 240px;
	color: lightcyan;
	background-color: black;
	text-align: center;
}

.styleSelector {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.styleSelector:hover,
a:hover,
button:hover,
select:hover,
.imageGalleryList:hover {
	cursor: pointer;
}

#selectedStyle {
	border: 5px solid black;
}

#mainImageThumbnail {
	border: 5px solid black;
}

.imageGalleryList {
	height: 7%;
	width: 7%;
}
